$nunitoSans: "Nunito Sans", sans-serif;
$azulOscuro: #0f4e72;
$azulClaro: #177ab3;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $nunitoSans;
}

header {
  width: 100%;
  height: 20vh;
  background-color: #fff;

  .banner {
    height: 100%;
    width: 373px;
    margin-left: 50px;
    display: flex;
    align-items: center;

    &__logo {
      margin: auto;
    }
  }
}

.menu {
  width: 100%;
  height: 5vh;
  background-color: $azulOscuro;
  opacity: 0.9;

  column-gap: 30px;

  &__elementos {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__items {
    height: 100%;
    width: 45%;
    cursor: pointer;

    .lista {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 10px;

      &__item {
        list-style-type: none;
        font-family: $nunitoSans;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
      }
    }
  }

  &__buscador {
    height: 100%;
    width: 0;
    margin-right: 30px;
    display: flex;
    align-items: center;

    &--search {
      width: 100%;
      border: none;
      border-radius: 15px;
      text-indent: 15px;
      font-size: 18px;
      color: #000;
      outline: none;
      height: 80%;

      @keyframes menu {
        0% {
          width: 0;
        }
        100% {
          width: 15%;
        }
      }
    }

    &:hover {
      animation: menu 0.5s 1;
      animation-fill-mode: forwards;
    }

    &:active {
      width: 100%;
    }

    #buscador {
      box-sizing: content-box;
      position: absolute;
      right: 20px;
      background-color: $azulClaro;
      color: #fff;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
    }
  }
}

main {
  .btnChat {
    height: 35px;
    width: 250px;
    position: fixed;
    bottom: 28px;
    right: 40px;
    border: 1px solid white;
    background-color: $azulClaro;
    outline: none;
    border-radius: 15px;
    color: white;
    visibility: hidden;
  }
  #whatsapp {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }

  #mainCarrusel {
    margin: 0;
    width: 100%;
    height: 685px;
    overflow: hidden;

    .carousel-caption {
      position: absolute;
      top: 250px;
      font-weight: 600;

      .caption {
        font-size: 40px;
      }
    }

    .carousel-inner {
      height: 685px;
      overflow: hidden;
    }
  }

  .bienvenida {
    width: 100%;
    height: 806px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__titulo {
      width: 45%;
      height: 100px;
      background-color: $azulOscuro;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      position: absolute;
      bottom: 50px;
      top: 90px;
      left: 0;
      z-index: 1000;
      h1 {
        color: #fff;
        font-weight: 600;
        opacity: 1;
      }
    }

    &__texto {
      margin-top: 70px;
      width: 60%;
      height: 600px;
      background-color: rgb(209, 208, 208);
      position: relative;
      right: 20;
      justify-self: flex-end;
      display: flex;

      p {
        font-weight: 600;
        font-size: 20px;
        padding: 60px;
        padding-top: 100px;
      }
    }
  }

  .destacados {
    width: 100%;
    height: 806px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &__titulo {
      width: 45%;
      height: 100px;
      background-color: $azulOscuro;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      position: relative;
      top: 10px;
      align-self: flex-start;

      h2 {
        color: #fff;
        font-weight: 600;
        opacity: 1;
      }
    }

    &__contenido {
      width: 70%;
      height: 90%;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 50% 50%;
      justify-items: center;
      align-items: center;

      .cards {
        margin: 0 20px 0 20px;
        border: 1px solid $azulClaro;
        border-radius: 5px;
        width: 300px;
        height: 300px;
        display: flex;
        align-items: flex-end;
        position: relative;
        overflow: hidden;

        &:hover > .cards__contenido {
          opacity: 0.9;
        }

        &__contenido {
          width: 100%;
          height: 35%;
          background-color: #fff;
          padding: 7px;
          z-index: 1000;
          position: absolute;
          opacity: 0;
          transition: opacity 0.7s ease;

          p {
            font-size: 15px;
            font-weight: 300;
          }

          .btn {
            position: absolute;
            bottom: 7px;
            right: 7px;
            border-radius: 5px;
            border: 1px solid $azulClaro;
            color: $azulClaro;
            font-size: 15px;
          }

          img {
            margin: 0;
            height: 300px;
            width: 300px;
          }
        }
      }
    }
  }
}

@mixin textoPie {
  color: #fff;
}

@mixin paddingTop {
  padding-top: 40px;
}
footer {
  width: 100%;
  height: 400px;
  background-color: $azulOscuro;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "banner  columna1 columna2"
    "derechos derechos derechos";

  justify-items: center;
  align-items: start;

  .contacto {
    @include paddingTop;
    grid-area: banner;
    display: flex;
    flex-flow: column;
    row-gap: 50px;

    &__banner {
      width: 20%;
      height: 15%;
      border: none;
    }

    &__redes {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      column-gap: 20px;
      align-items: center;

      #redes {
        width: 35px;
        height: 35px;
        color: #fff;
      }
    }
  }

  .columna1 {
    @include paddingTop;
    grid-area: columna1;
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;

    h4 {
      font-weight: 600;
      font-size: 22px;
      padding-left: 40px;
    }

    .menuFooter {
      list-style-type: none;
      font-weight: 600;
    }
  }

  .columna2 {
    @include paddingTop;
    grid-area: columna2;
    color: #fff;
    font-weight: 600;

    h4 {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .derechos {
    grid-area: derechos;
    color: #fff;
  }
}
